body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
     'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.sticky-bottom{
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.navbar-expand{
  justify-content: space-between !important;
}

.wrapper {
  display: flex;
  height: calc(100vh - 60px);
  padding: 1.5rem;
  justify-content: center;
}

.btn-icon:hover, .btn-icon.active, .btn-icon:focus{
  color: blue !important;
  box-shadow: none;
}

.btn-card{
  visibility: hidden;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.card-18:hover .btn-card, .btn-card:hover, .btn-card.active{
  visibility: visible;
}

.card-18{
  max-width: 18em;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.navbar-nav {
  margin-right: 1rem;
}

.pagination {
  margin: .25rem;
  justify-content: center;
}

.btn-group {
  background-color: #f8f9fa;
  align-items: center;
  margin-right: 1rem;
  margin-left: 1rem;
}

.amount{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.btn-group-vertical .btn{
  color: #6c757d;
  padding-top: 0;
  padding-bottom: 0;
}

.card-subtitle{
  margin-bottom: 1rem;
  color: #ffc107;
}

h3.card-title{
  margin-bottom: 1rem;
}

.btn.fixed-bottom{
  padding: .25rem;
  margin: 1rem;
}

.card-body{
  overflow: auto;
  align-items: center;
}

.error-div{
  align-items: center;
  justify-content: center;
  display: flex;
  color: #6c757d;
}

.error-div .card{
  margin: 0.5rem;
  padding: 1rem;
}

.order-btn{
  margin: 1rem 0.5rem;
  float: right;
}

.modal-body{
  text-align: center;
}